MONGODB_URI=mongodb://mtg-card-manager-db:27017
MONGODB_DATABASE=card_manager
SCRYFALL_BULK_METADATA_URL=https://api.scryfall.com/bulk-data/oracle-cards
SCRYFALL_USER_AGENT="mtg-card-manager/0.1 (contact: you@example.com)"
SYNC_BATCH_SIZE=1000
